@charset "UTF-8";
// ========================================
// Px To ~
// ========================================

// Convert px to em
//
// @param {int} $size The px amount to convert.
//
// @return string The converted px size.
@function px-to-em($pxval, $base: $font-size-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1em;
}

// Convert px to rem
//
// @param {int} $size The px amount to convert.
//
// @return string The converted px size.
@function px-to-rem($pxval, $base: $font-size-base) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return ($pxval / $base) * 1rem;
}
