@charset "UTF-8";
// ========================================
// Typography
// ========================================

$font-sans: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-serif: Georgia, Times, "Times New Roman", serif;
$font-code: Monaco, Consolas, "DejaVu Sans Mono", monospace;
$font-pre: "Courier 10 Pitch", Courier, monospace;

$line-height-body: 1.725;
$line-height-pre: $line-height-body;
$font-size-base: 16;
