@charset "UTF-8";
// ========================================
// Media
// ========================================

// Images
img {
  max-width: 100%;
	height: auto;
}

// Fluid embed
.fluid-embed {
	@include media("<=tablet") {
		padding-bottom: calc(56.25% - 2.1875rem); // For ratio 16:9. 75% if ratio is 4:3 rem(35);
	}

  position: relative;
  height: 0;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3 rem(35);
	overflow: hidden;

	embed,
	object,
	iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
		height: 100%;
	}
}

// Center image background
.image-as-background {
  background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

// Video as background
.video-as-background {
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}
