@charset "UTF-8";
// ========================================
// Clearfix
// ========================================

// Add a cleafix to elemets
//
// @example
//   Basic Usage Sass.
//     .foo {
//       @include clearfix;
//     }
//
//   Output.
//     .foo::before, .foo::after {
//        content: "";
//        display: table;
//     }
//     .foo::after {
//        clear: both;
//     }

@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}
