@charset "UTF-8";
// ========================================
// Flexbox
// ========================================

@supports (flex-wrap: wrap) {
	%flex-width {
		width: 100%;
	}

	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		overflow: visible;
	}

	@for $i from 1 through 12 {
		.col-#{$i} {
			@extend %flex-width;
		}
	}
}
